<div class="comments_list">
  <div class="8u 12u$(xsmall) list_comment">
    <div class="list_comments">
      <%= render "comments/comment" %>
    </div>
    <div class="comment_action">
      <%= render "comments/new" %>
    </div>
  </div>
</div>

