<section>
  <header class="major">
    <h2>Events</h2>
  </header>
  <div class="features events_index">
    <% @events.each do |item| %>
    <div class="user_detail">
      <div class="content">
        <%= image_tag item.image %>
        <div class="text1"><%= link_to item.name, item %></div>
        <div class="text2"><%= item.description.truncate_words 10 %></div>
      </div>
    </div>​
    <% end %>
  </div>
</section>
