<section>
  <header class="major">
    <h2>Events</h2>
  </header>
  <div class="features">
    <% @events.each do |item| %>
      <article>
        <span class="icon">
          <%= image_tag item.image, class: "circle", witdh: 100 %>
        </span>
        <div class="content">
          <h3><%= link_to item.name, item %></h3>
          <p><%= item.description.truncate_words 10 %></p>
          <i><%= "Date start: #{item.date_start}" %></i>
        </div>
      </article>
    <% end %>
  </div>
</section>
